<div class="card m-2" (click)="onCardClick()">
  <img src="{{
      product.images ? product.images[0] : 'https://via.placeholder.com/320x300'
    }}" />
  <div class="card-content w-100 d-flex flex-column p-3">
    <h3 class="product-name">{{ product?.name }}</h3>
    <p class="product-des">
      {{ product?.description }}
    </p>
    <div class="product-rating">
      <p-rating [(ngModel)]="product.avgRating" [readonly]="true" [cancel]="false"></p-rating>
    </div>
    <div class="product-price d-flex justify-content-between">
      {{ product?.price.toLocaleString() }} VND
    </div>
  </div>
</div>