<div
  *ngIf="isLoading"
  class="loading w-100 h-100 position-absolute d-flex d-flex justify-content-center align-items-center flex-column gap-2 bg-body rounded-3 z-3"
>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <p style="opacity: 0.7">Loading</p>
</div>
<div class="container p-4">
  <div class="info d-flex gap-4">
    <p-galleria
      [value]="product.images"
      [showItemNavigatorsOnHover]="true"
      [showItemNavigators]="true"
      [containerStyle]="{ 'max-width': '640px', 'min-height': '500px' }"
    >
      <ng-template pTemplate="item" let-item>
        <img
          [src]="item"
          style="
            width: 80%;
            display: block;
            padding-bottom: 10px;
            min-height: 300px;
            object-fit: cover;
            border-radius: 5px;
          "
        />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="item" class="h-100" style="display: block; width: 20%" />
        </div>
      </ng-template>
    </p-galleria>

    <div class="product-info col-6">
      <div class="basic-info ps-4">
        <div class="product-name d-flex">
          <h1 class="py-2">{{ product.name }}</h1>
        </div>
        <div class="product-rating">
          <p-rating
            [(ngModel)]="product.avgRating"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
        </div>

        <h5 class="mt-2">{{ product.price.toLocaleString() + " VND" }}</h5>
        <h5 class="mt-4"><b>Brand:</b> {{ product.brand.name }}</h5>

        <div class="size attribute">
          <h5 class="mt-2"><b>Size</b></h5>
          <div
            class="size"
            *ngFor="let size of listVarieties"
            [id]="size.varietyAttributes[0].attributeId"
            [ngClass]="{ active: isActiveSize }"
            (click)="toggleActiveColor(); onAttribute($event, size, 'size')"
          >
            {{ size.varietyAttributes[0].name }}
          </div>
        </div>
        <div class="color attribute">
          <h5 class="mt-2"><b>Color</b></h5>

          <div
            class="color"
            *ngFor="let color of listVarieties"
            [id]="color.varietyAttributes[1]?.attributeId"
            (click)="onAttribute($event, color, 'color')"
          >
            {{ color.varietyAttributes[1]?.name }}
          </div>
        </div>
        <p-inputNumber
          [(ngModel)]="numberOfProduct"
          [showButtons]="true"
          buttonLayout="horizontal"
          inputId="horizontal"
          spinnerMode="horizontal"
          [step]="1"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
        ></p-inputNumber>
      </div>

      <div class="button-group pt-2 ps-4 d-flex gap-2">
        <button class="btn btn-primary">Buy now</button>
        <button class="btn btn-secondary">Add to cart</button>
      </div>
    </div>
  </div>
  <div class="detail-status pt-4">
    <div class="inline-flex align-items-center">
      <h5><b>Detail</b></h5>
    </div>
    <div>
      <textarea
        class="w-100"
        name=""
        id="textarea"
        pInputTextarea
        disabled="true"
      ></textarea>
    </div>
  </div>
</div>
