<div class="check-out d-flex p-4">
  <div class="col-6 gap-4">
    <h3>Pescue Shop</h3>
    <span>
      <h6 class="mt-2">Name</h6>
      <input
        class="inputtext w-50 ps-2 mt-1 form-control"
        name="name"
        type="email"
        pInputText
      />
    </span>
    <span>
      <h6 class="mt-2">Email</h6>
      <input
        class="inputtext w-50 ps-2 mt-1 form-control"
        name="email"
        type="email"
        pInputText
      />
    </span>
    <span>
      <h6 class="mt-2">Phone</h6>
      <input
        class="inputtext w-50 ps-2 mt-1 form-control"
        name="phone"
        type="email"
        pInputText
      />
    </span>
    <button class="btn btn-primary mt-4">Continue payment</button>

    <div class="address-container m-4 my-2 w-100">
      <span class="p-float-label">
        <h6 class="addressLabel p-1 ps-0">Số nhà, tên đường</h6>
        <input class="inputtext ps-1 w-100" type="text" />
      </span>
      <span class="p-float-label">
        <h6 class="addressLabel p-1 ps-0">Thành phố/Tỉnh</h6>
        <p-dropdown
          [options]="listProvince"
          [filter]="true"
          [autoDisplayFirst]="false"
          optionLabel="provName"
          filterBy="provName"
          (onChange)="provinceSelectedChange($event.value)"
        >
          <!-- <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center">
                  <div>{{ selectedCountry.name }}</div>
                </div>
              </ng-template>
              <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ country.name }}</div>
                </div>
             </ng-template> -->
        </p-dropdown>
      </span>
      <span class="p-float-label">
        <h6 class="addressLabel p-1 ps-0">Quận/Huyện</h6>
        <p-dropdown
          [filter]="true"
          [autoDisplayFirst]="false"
          optionLabel="distName"
          filterBy="distName"
          [options]="listDistrict"
          (onChange)="districtSelectedChange($event.value)"
        >
        </p-dropdown>
      </span>
      <span class="p-float-label">
        <h6 class="addressLabel p-1 ps-0">Phường/Xã</h6>
        <p-dropdown
          [options]="listWard"
          [autoDisplayFirst]="false"
          filterBy="wardName"
          optionLabel="wardName"
        >
        </p-dropdown>
      </span>
    </div>
  </div>
  <div class="col-6">
    <div class="voucher">
      <span class="my-4">
        <h6>Voucher</h6>
        <div class="d-flex gap-2">
          <input
            class="inputtext w-50 ps-2 mt-1 form-control"
            name="emailInput"
            type="email"
            pInputText
          />
          <button
            class="btn btn-primary"
            style="width: fit-content; height: 40px"
          >
            Apply voucher
          </button>
        </div>
      </span>
    </div>
  </div>
</div>
